<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @if (Session["UsernameSS"] == null)
            {
                @Html.ActionLink("Employee Attendance", "LogIn", "Home", new { area = "" }, new { @class = "navbar-brand" })


                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            }
            else
            {
                @Html.ActionLink("Employee Attendance", null, null, new { area = "" }, new { @class = "navbar-brand" })
            }
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                @if (Session["UsernameSS"] != null)
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Register", "Employee", "Employee", new { area = "" }, new { @class = "nav-link"})</li>
                        @*<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    </ul>

                    <ul class="nav navbar-nav " style="float:right !important">


                        <li><p style="color:#fff; margin-top:15px"> Hello @Session["UsernameSS"]</p></li>
                        <li style="color: #fff; margin-top:6px; margin-left: 12px"> @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link"})</li>


                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.min.js"></script>
</body>
</html>
